<!--bootstrapを利用する場合は、クラス名で表示が変ってくるためクラス名が重要-->
<header class = "navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Rails App", root_path, id: "logo" %><!--ヘッダーにリンク付きロゴを作成-->
    <nav>
      <ul class = "nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li><!--リンクが「xxxx_path」になる時は''要らない-->
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
